<footer class="site-footer" role="contentinfo">
  <div class="engage">
    <div class="container">
      <p>Join our newsletter and never miss an interview.</p>
      <form class="site-form newsletter-signup">
        <div class="field input inline">
          <label class="hidden">Enter your email address</label>
          <input type="text" placeholder="Your email address">
          <button type="submit" class="button submit">Join the list</button>
        </div>
      </form>
    </div>
  </div>
  <div class="site-info">
    <div class="container">
      <p>&copy;2017 Northbrook Voices, Northbrook Public Library and the Northbrook Historical Society, Northbrook, Illinois</p>
    </div>
  </div>
</footer>
