.page-header{
  margin-bottom: .5rem;
}
.page-description{
  margin-top: 0;
  font-size: 1.5rem;
}

.page-meta{
  font-family: $primary-font-family;
  color: $dark-grey;
  font-size: .825rem;
  letter-spacing: .5px;
}

.page-content{
  margin: 2rem auto;

  h2{
    margin-top: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: darken($secondary-color, 30%);
  }
}

.content-page{
  .page-content{
    @media screen and (#{$bp-larger-than-tablet}){
      max-width: 50%;
    }
  }
}
